<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <title>Vargo MVC Application</title>

    <script src="./js/submitForm.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>

    <script>
        var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
        console.log(template({ doesWhat: "rocks!" }));
    </script>
    <div class="container bg-info">
    <h4>Welcome to Vargo Test Application!</h4>
    <br>
    <form>
        <label for="customerId">Customer ID: </label>
        <input type="text" id="customerId" class="text-black"/>
        <br>
        <input type="submit" class="btn btn-success">
    </form>

    <div id="resultContainer">

    </div>
    </div>
</body>
</html>